---
import headerVideo from "../assets/146169-788789382_small.mp4";

---

<section class="h-screen overflow-hidden flex flex-col items-center justify-center p-0 m-0">
  <video autoplay muted loop class="absolute h-full w-full object-cover object-center -z-30 inset-0">
    <source src={headerVideo} type="video/mp4">
  </video>
  <h1 class="text-5xl uppercase md:text-6xl lg:text-7xl drop-shadow-lg xl:text-8xl text-center font-black tracking-wide">
    <div class="bg-gradient-to-br from-accent-700 via-muted-200 to-primary-700 bg-clip-text text-transparent">LA Flight Academy</div>
  </h1>
  <h2 class="text-2xl lg:text-5xl mt-3 font-semibold tracking-wide text-center max-w-4xl italic text-primary-700 font-tourney">
    Start Your Pilot Career Today
  </h2>
</section>
