---
import headerVideo from "../assets/146169-788789382_small.mp4";
---

<section
  class="relative h-screen overflow-hidden flex flex-col items-center justify-center p-0 m-0"
  aria-label="Header section featuring a video background and text introducing LA Flight Academy"
>
  <video
    autoplay
    muted
    loop
    class="absolute h-full w-full brightness-125 saturate-50 object-cover object-center -z-30 inset-0"
    aria-hidden="true"
  >
    <source src={headerVideo} type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div
    class="absolute h-full w-full bg-white opacity-40 -z-20 inset-0"
    aria-hidden="true"
  >
  </div>
  <h1
    class="text-5xl uppercase text-primary-700 font-serif md:text-6xl lg:text-7xl xl:text-8xl text-center font-medium tracking-wide drop-shadow-md"
  >
    LA Flight Academy
  </h1>
  <h2
    class="text-2xl lg:text-5xl mt-3 text-white font-semibold tracking-wide text-center max-w-5xl drop-shadow-md"
  >
    Accelerated Flight Training Programs in Van Nuys
  </h2>
</section>
