---
---

<section id="welcome" class="h-[30vh] flex flex-col justify-center items-center px-48 text-primary-700 bg-muted-300">
  <h3 class="text-xl font-semibold pb-5">
    Welcome to LA Flight Academy
  </h3>
  <p class="font-semibold">
    We are proud to offer one of the largest and best maintained fleets in all of Los Angeles. <br>
    We are LA Flight Academy – a flight school located in Van Nuys, CA. We pride ourselves on offering all of our students with a memorable and structured environment. Our priority is to provide a safe, transparent and fun experience for our students. Whether you are training to fly as a hobby or pursuing a career in aviation, we offer all of the tools necessary to obtain your certificates and ratings.
  </p>
</section>
